<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JinxBot.Data.LinqToSqlClient.Properties.Settings.JinxBotConnectionString"
            connectionString="Data Source=ROB-TABLET\SQLEXPRESS;Initial Catalog=JinxBot;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>