*
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

body
{
    background-color: black;
    font-size: 12px;
    color: #dddddd;
    font-family: Tahoma, Verdana, Sans-serif;
    overflow: hidden;
}

p
{
    text-indent: -3em;
    margin-left: 3em;
    margin-top: 4px;
    margin-bottom: 0px;
}

/* Used to describe the div that holds the channel and clan lists */
#listArea
{
	position: relative;
	float: right;
	width: 240px;
    height: 100%;
}

/* Used to describe the sizer bar */
#listSizer
{
	clear: none;
	float: left;
	width: 10px;
    height: 100%;
    background-color: #6699CC;
    background-image: url("Splitter.gif");
    background-position:center center;
	background-repeat:no-repeat;
	position: relative;
	cursor: w-resize;
}

#channelContent
{
	position: relative;
	float: right;
    background-color: white;
    height: 100%;
}

/* user lists */
.userListHeader
{
	width: 100%;
	height: 20px;
	background-color: Black;
	text-align: center;
}


.userListItem
{
	width: 100%;
	height: 20px;
	background-position: 2px 3px;
	background-repeat: no-repeat;
	padding-left: 34px;
	padding-top: 4px;
}

.userFlagBnet
{
	background-image: url('./assets/icons/BattleNetAdmin.png');
}
.userFlagBlizz
{
	background-image: url('./assets/icons/BlizzardRep.png');
}
.userFlagOps
{
	background-image: url('./assets/icons/ChannelOps.png');
}
.userFlagGuest
{
	background-image: url('./assets/icons/Guest.png');
}
.userFlagSpeaker
{
	background-image: url('./assets/icons/Speaker.png');
}
.userFlagSquelched
{
	background-image: url('./assets/icons/BattleNetSquelched.png');
}
.userProdChat
{
	background-image: url('./assets/icons/prod-chat.png');
}
.userProdD2DV
{
	background-image: url('./assets/icons/prod-d2dv.png');
}
.userProdD2XP
{
	background-image: url('./assets/icons/prod-d2xp.png');
}
.userProdDRTL
{
	background-image: url('./assets/icons/prod-drtl.png');
}
.userProdDSHR
{
	background-image: url('./assets/icons/prod-dshr.png');
}
.userProdJSTR
{
	background-image: url('./assets/icons/prod-jstr.png');
}
.userProdSEXP
{
	background-image: url('./assets/icons/prod-sexp.png');
}
.userProdSSHR
{
	background-image: url('./assets/icons/prod-sshr.png');
}
.userProdSTAR
{
	background-image: url('./assets/icons/prod-star.png');
}
.userProdW2BN
{
	background-image: url('./assets/icons/prod-w2bn.png');
}
.userProdW3XP
{
	background-image: url('./assets/icons/prod-w3xp.png');
}
.userProdWAR3
{
	background-image: url('./assets/icons/prod-war3.png');
}



/* global links */
a:link, a:visited, a:active
{
	color: #a5a5ec;
}

/* size of scrolling element padding on the bottom */
#scrollTo
{
    height: 10px;
}

/* Chat node styles */
.timestamp
{
	color: #999999;
}

.information
{
	color: Yellow;
}

.error
{
	color: Orange;
}

.userName
{
	color: Lime;
}

.text
{
	color: White;
}

.channelName
{
	color: #B0C4DE;
}

.whisper
{
	color: #ff00ff;
}

.whisperReceivedName
{
	color: White;
}

.whisperReceivedText
{
	color: #ff00ff;
}

.whisperSentName
{
	color: White;
}

.whisperSentText
{
	color: #ff00ff;
}

.talkUsername
{
	color: #B0C4DE;
}

.emoteUsername
{
	color: #ADFF2F;
}

.emote
{
	color: Yellow;
}

.channelStart
{
	color: #B0C4DE;
}

.channelName
{
	color: #ADFF2F;
}